@model Restaurante.UI.ViewModel.PedidoViewModel

@{
    ViewBag.Title = "Pedido";
}

<h3>Pedido</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Bebidas</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Comida</a></li>
                </ul>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <div class="tab-content">
                        @Html.HiddenFor(m => Model.MesaId)
                        @Html.HiddenFor(m => Model.NumMesa)
                        <div class="tab-pane fade in active" id="tab1default">
                            <table class="table table-responsive table-hover">
                                <tr>
                                    <th width="15%">
                                        Nº Menu
                                    </th>
                                    <th width="65%">
                                        Descrição
                                    </th>
                                    <th width="20%">
                                        Quant
                                    </th>
                                    <th></th>
                                </tr>
                                @{
                                    int t1 = Model.PedidoBebidaItens.Count();
                                    int t2 = Model.PedidoComidaItens.Count();
                                }
                                @for (var i = 0; i < t1; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => m.PedidoBebidaItens[i].MenuItem.NumMenuItem)
                                            @Html.HiddenFor(m => m.PedidoBebidaItens[i].MenuItem.NumMenuItem)
                                            @Html.HiddenFor(m => m.PedidoBebidaItens[i].MenuItem.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.PedidoBebidaItens[i].MenuItem.Descricao)
                                            @Html.HiddenFor(m => m.PedidoBebidaItens[i].MenuItem.Descricao)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.PedidoBebidaItens[i].Quantidade, new { @class = "number" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table class="table">
                                <tr>
                                    <th>
                                        Nº Menu
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Quant
                                    </th>
                                    <th></th>
                                </tr>

                                @for (var i = 0; i < t2; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => m.PedidoComidaItens[i].MenuItem.NumMenuItem)
                                            @Html.HiddenFor(m => m.PedidoComidaItens[i].MenuItem.NumMenuItem)
                                            @Html.HiddenFor(m => m.PedidoComidaItens[i].MenuItem.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.PedidoComidaItens[i].MenuItem.Descricao)
                                            @Html.HiddenFor(m => m.PedidoComidaItens[i].MenuItem.Descricao)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.PedidoComidaItens[i].Quantidade, new { @class = "number" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                    </div>
                    <button type="submit" class="btn">Fazer Pedido</button>
                }
            </div>
        </div>
    </div>
</div>


