@model Restaurante.UI.ViewModel.PedidoViewModel

@{
    ViewBag.Title = "Pedido";
}

<h2>Pedido</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Bebidas</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Comida</a></li>
                </ul>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="tab-content">

                        <div class="tab-pane fade in active" id="tab1default">
                            <table class="table">
                                <tr>
                                    <th>
                                        Nº Menu
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Quant
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.PedidoItens.Where(x => x.MenuItem.Bebida))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuItem.NumMenuItem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuItem.Descricao)
                                        </td>
                                        <td>
                                            @Html.EditorFor(modelItem => item.Quantidade, new { @class = "number" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table class="table">
                                <tr>
                                    <th>
                                        Nº Menu
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Quant
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.PedidoItens.Where(x => !x.MenuItem.Bebida))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuItem.NumMenuItem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuItem.Descricao)
                                        </td>
                                        <td>
                                            @Html.EditorFor(modelItem => item.Quantidade, new { @class = "number" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                    </div>
                    <button type="submit" class="btn">Fazer Pedido</button>
                }

            </div>
        </div>
    </div>
</div>


