@model IEnumerable<Restaurante.UI.ViewModel.MenuItemViewModel>

@{
    ViewBag.Title = "Pedido";
}

<h2>Pedido</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Bebidas</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Comida</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumMenuItem)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bebida)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Where(x => x.Bebida))
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumMenuItem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bebida)
                                </td>
                            </tr>
                            }

                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumMenuItem)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bebida)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Where(x => !x.Bebida))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumMenuItem)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bebida)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab3default">Default 3</div>
                </div>
            </div>
        </div>
    </div>
</div>


