@model IEnumerable<Restaurante.UI.ViewModel.MesaAbertaViewModel>

@{
    ViewBag.Title = "Tarefa";
    var Nome = Model.Any()? Model.FirstOrDefault().Garcom.Nome:" - ";
}

<style rel="stylesheet">
    ul.none {
        list-style-type: none;
    }

    ul.disc {
        list-style-type: disc;
    }

    ul.circle {
        list-style-type: circle;
    }

    ul.square {
        list-style-type: square;
    }

    .caption-small {
        font: small-caption
    }
</style>

<h3>Tarefas de @Nome</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Bebidas</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Refeições</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <div class="row">
                            <div class="row" id="subtitulo">
                                <div class="col-lg-2 text-center"><b>Mesas</b></div>
                                <div class="col-lg-10 text-center">
                                    <div class="col-md-2">
                                        <b>Menu#</b>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <b>Descrição</b>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <b>Quant</b>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <b>Data Pedido</b>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" id="dados">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-2 left text-center"><b>@Html.ActionLink(string.Format("Mesa {0}", item.NumMesa.ToString()), "Status", "Mesa", new { id = item.Id.ToString() }, new { @class="btn btn-default"})</b></div>
                                    <div class="col-lg-10 right">
                                        @foreach (var pedido in item.Pedidos)
                                        {
                                            foreach (var bebida in pedido.PedidoBebidaItens)
                                            {
                                                <div class="row">
                                                    <div class="col-md-2 text-center">
                                                        @bebida.MenuItem.NumMenuItem
                                                    </div>
                                                    <div class="col-md-4">
                                                        @bebida.MenuItem.Descricao
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        @bebida.Quantidade
                                                    </div>
                                                    <div class="col-md-4">
                                                        @bebida.AServir
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <hr />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <div class="row table">
                            <div class="row" id="subtitulo">
                                <div class="col-lg-2 text-center"><b>Mesas</b></div>
                                <div class="col-lg-10 text-center">
                                    <div class="col-md-2">
                                        <b>Menu#</b>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <b>Descrição</b>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <b>Quant</b>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <b>Data Pedido</b>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" id="dados">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-2 left text-center"><b>@Html.ActionLink(string.Format("Mesa {0}", item.NumMesa.ToString()), "Status", "Mesa", new { id = item.Id.ToString() }, new { @class = "btn btn-default" })</b></div>
                                    <div class="col-lg-10 right">
                                        @foreach (var pedido in item.Pedidos)
                                        {
                                            foreach (var bebida in pedido.PedidoComidaItens)
                                            {
                                                <div class="row">
                                                    <div class="col-md-2 text-center">
                                                        @bebida.MenuItem.NumMenuItem
                                                    </div>
                                                    <div class="col-md-4">
                                                        @bebida.MenuItem.Descricao
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        @bebida.Quantidade
                                                    </div>
                                                    <div class="col-md-4">
                                                        @bebida.EmPreparacao
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <hr />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
